---
import '@fontsource/montserrat/700.css'
import '@fontsource/montserrat/500.css'
import '@fontsource/work-sans/500.css'
import '@fontsource/space-grotesk/700.css'

import ServiceItem from '../components/ServiceItem.astro'

import { ourServicesList } from '../data'
import SectionWrapper from '../components/SectionWrapper.astro'
import TestimonyItem from '../components/TestimonyItem.astro'
---

<html>
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Sinergicon</title>
  </head>
  <body>
    <SectionWrapper
      subtitle="LOREM IPSUM DOLOR SIT"
      description="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec dimentum facilisis interdum. Orci varius natoque penatibus magnis dis parturient montes, nascetur ridiculus mus."
    >
      <h1 slot="title">
        Venha conhecer os nossos <span class="text-primary">serviços</span>
      </h1>

      <div
        class="my-5 grid max-w-[1184px] grid-cols-3 grid-rows-2 gap-x-12 gap-y-8"
      >
        {
          ourServicesList.map((service) => (
            <ServiceItem
              title={service.title}
              content={service.content}
              color={service.rgbColor}
            />
          ))
        }
      </div>
    </SectionWrapper>

    <SectionWrapper
      subtitle="LOREM IPSUM DOLOR SIT"
      description="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec dimentum facilisis interdum. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus."
      bgClass="bg-light"
    >
      <h1 slot="title">
        Confira alguns <span class="text-primary">depoimentos</span> de nossos clientes
      </h1>
      <div class="w-full overflow-scroll">
        <div class="flex gap-8 p-8">
          <TestimonyItem
            content="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec dimentum facilisis interdum."
            author={{
              name: 'Mc Poze do Rodo',
              role: 'Cantor',
              imageUrl:
                'https://i.pinimg.com/474x/ff/0d/f4/ff0df44c4cd43c7cd964e36b4354e56b.jpg',
            }}
          />
          <TestimonyItem
            content="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec dimentum facilisis interdum."
            author={{
              name: 'Mc Poze do Rodo',
              role: 'Cantor',
              imageUrl:
                'https://i.pinimg.com/474x/ff/0d/f4/ff0df44c4cd43c7cd964e36b4354e56b.jpg',
            }}
          />
          <TestimonyItem
            content="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec dimentum facilisis interdum."
            author={{
              name: 'Mc Poze do Rodo',
              role: 'Cantor',
              imageUrl:
                'https://i.pinimg.com/474x/ff/0d/f4/ff0df44c4cd43c7cd964e36b4354e56b.jpg',
            }}
          />
          <TestimonyItem
            content="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec dimentum facilisis interdum."
            author={{
              name: 'Mc Poze do Rodo',
              role: 'Cantor',
              imageUrl:
                'https://i.pinimg.com/474x/ff/0d/f4/ff0df44c4cd43c7cd964e36b4354e56b.jpg',
            }}
          />
          <TestimonyItem
            content="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec dimentum facilisis interdum."
            author={{
              name: 'Mc Poze do Rodo',
              role: 'Cantor',
              imageUrl:
                'https://i.pinimg.com/474x/ff/0d/f4/ff0df44c4cd43c7cd964e36b4354e56b.jpg',
            }}
          />
          <TestimonyItem
            content="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec dimentum facilisis interdum."
            author={{
              name: 'Mc Poze do Rodo',
              role: 'Cantor',
              imageUrl:
                'https://i.pinimg.com/474x/ff/0d/f4/ff0df44c4cd43c7cd964e36b4354e56b.jpg',
            }}
          />
          <TestimonyItem
            content="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec dimentum facilisis interdum."
            author={{
              name: 'Mc Poze do Rodo',
              role: 'Cantor',
              imageUrl:
                'https://i.pinimg.com/474x/ff/0d/f4/ff0df44c4cd43c7cd964e36b4354e56b.jpg',
            }}
          />
          <TestimonyItem
            content="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec dimentum facilisis interdum."
            author={{
              name: 'Mc Poze do Rodo',
              role: 'Cantor',
              imageUrl:
                'https://i.pinimg.com/474x/ff/0d/f4/ff0df44c4cd43c7cd964e36b4354e56b.jpg',
            }}
          />
          <TestimonyItem
            content="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec dimentum facilisis interdum."
            author={{
              name: 'Mc Poze do Rodo',
              role: 'Cantor',
              imageUrl:
                'https://i.pinimg.com/474x/ff/0d/f4/ff0df44c4cd43c7cd964e36b4354e56b.jpg',
            }}
          />
        </div>
      </div>
    </SectionWrapper>
  </body>
</html>
