<section class="my-8 bg-light lg:my-0">
  <div
    class="relative mx-auto flex max-h-none w-full max-w-[1440px] flex-col items-center justify-between pb-5 font-montserrat md:max-h-[499px] lg:h-screen lg:flex-row"
  >
    <div class="mr-8 hidden w-full lg:flex lg:items-center">
      <img class="h-full w-full" src="/CtaImage.png" alt="" />
    </div>

    <div class="relative z-10 flex max-w-[750px] flex-col p-4 lg:p-0">
      <div class="flex items-center">
        <svg
          width="5"
          height="30"
          viewBox="0 0 5 30"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <rect width="5" height="30" rx="2.5" fill="#3DA9FC"></rect>
        </svg>
        <p class="pl-3 text-base text-gray">LOREM IPSUM DOLOR SIT</p>
      </div>
      <h1 class="text-xl font-bold text-dark lg:text-5xl">
        Lorem ipsum dolor sit amet, <span class="text-primary">
          consectetur
        </span> adipiscing elit.
      </h1>
      <p class="my-4 text-base text-gray lg:my-3">
        A Sinergicon é uma empresa de Contabilidade e Consultoria Financeira
        fundada em 2021, que tem o propósito de trabalhar em Sinergia com seus
        clientes, mais do que prestadores de serviços, a nossa missão é se
        tornar um parceiro de negócios e estar o mais próximo possível.
      </p>
      <div class="mt-3">
        <a tabindex="0" href="">
          <button
            class="text-md rounded-lg bg-primary p-2 text-center font-bold text-white lg:h-14 lg:w-48"
          >
            Entrar em contato
          </button></a
        >
      </div>
    </div>
  </div>
</section>
