<section
class=" my-8 lg:my-0 bg-light"
>
<div class="w-full pb-5 lg:h-screen max-h-none md:max-h-[499px] max-w-7xl flex flex-col lg:flex-row items-center justify-between relative mx-auto font-montserrat">
<div class="hidden lg:flex w-4/12 lg:items-center">
  <img class="h-full w-full" src="/CtaImage.png" alt="" />
</div>

<div
  class="flex flex-col lg:w-7/12 relative z-10 max-w-[750px] p-4 lg:p-0"
>
  <div class="flex items-center	">
    <svg width="5" height="30" viewBox="0 0 5 30" fill="none" xmlns="http://www.w3.org/2000/svg">
      <rect width="5" height="30" rx="2.5" fill="#3DA9FC"/>
      </svg>
      <p class="pl-3 text-gray text-base">LOREM IPSUM DOLOR SIT</p>
  </div>
  <h1 class=" text-xl lg:text-5xl font-bold text-dark">Lorem ipsum dolor sit amet, <span class="text-primary"> consectetur </span> adipiscing elit.</h1>
  <p class="text-base my-4 lg:my-3 text-gray">
    A Sinergicon é uma empresa de Contabilidade e Consultoria Financeira fundada em 2021, que tem o propósito de trabalhar em Sinergia com seus clientes, mais do que prestadores de serviços, a nossa missão é se tornar um parceiro de negócios e estar o mais próximo possível.
  </p>
  <div class="mt-3">
    <a tabindex="0" href="">
      <button
        class="lg:h-14 lg:w-48 bg-primary text-white rounded-lg text-md p-2 text-center font-bold text-md"
      >
      Entrar em contato      </button></a
    >
  </div>
</div>
</div>

</section>