---
interface Props {
  error?: boolean
  placeholder: string
  label: string
  errorMsg: string
  type?: 'textarea' | 'input' | string
}

const {
  error = false,
  placeholder,
  label,
  errorMsg,
  type = 'input',
} = Astro.props
---

<form class="mt-8 flex flex-col font-montserrat text-dark">
  <label class="mb-2 font-bold">{label}</label>
  {
    type === 'input' && (
      <input
        type="text"
        placeholder={placeholder}
        class:list={[
          'rounded-xl bg-light p-4 text-dark outline-none border-2 placeholder:text-dark/50',
          error ? 'border-red-500' : 'focus:border-dark border-transparent',
        ]}
      />
    )
  }
  {
    type === 'textarea' && (
      <textarea
        placeholder={placeholder}
        class:list={[
          'rounded-xl bg-light p-4 text-dark outline-none border-2 placeholder:text-dark/50',
          error ? 'border-red-500' : 'focus:border-dark border-transparent',
        ]}
        rows="3"
      />
    )
  }

  {error && <p class="mt-2 text-sm text-red-500">{errorMsg}</p>}
</form>
