---
interface Props {
  subtitle: string
  bgClass?: string
  description: string
}

const { subtitle, description, bgClass = 'bg-white' } = Astro.props
---

<section
  class:list={[
    bgClass,
    'flex w-full flex-col items-center justify-center py-16',
  ]}
>
  <div class="max-w-[770px] text-center">
    <div class="flex flex-col items-center font-montserrat">
      <h4 class="font-bold uppercase text-primary">{subtitle}</h4>
      <div class="my-4 w-10/12 text-[2.6rem] font-bold text-dark">
        <slot name="title" />
      </div>
    </div>
    <p class="font-work text-gray">
      {description}
    </p>
  </div>
  <div class="my-11 h-[1px] w-full bg-lightgray"></div>
  <slot />
</section>
