---
interface IAuthor {
  name: string
  role: string
  imageUrl: string
}

interface Props {
  content: string
  author: IAuthor
}

const { content, author } = Astro.props
---

<div
  class="relative flex w-[373px] flex-col rounded-xl border-2 border-white bg-primary p-4 text-white"
>
  <p class="mt-3 font-work font-normal leading-tight">{content}</p>
  <div class="mt-9 flex items-center">
    <div
      class="absolute left-0 top-0 flex h-11 w-11 -translate-y-6 items-center justify-center overflow-hidden rounded-full bg-primary shadow-md"
    >
      <img src="/aspas.svg" />
    </div>
    <div class="h-10 w-10 overflow-hidden rounded-full">
      <img src={author.imageUrl} alt="Autor(a) do depoimento" />
    </div>
    <div class="ml-3 flex flex-col font-montserrat">
      <h4 class="text-sm font-bold">{author.name}</h4>
      <span class="text-xs">{author.role}</span>
    </div>
  </div>
</div>
